/* Source: https://startbootstrap.com/snippets/half-slider/ */

  .carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* applies sizing for all thumbnails  */
.container2 {

  height: 100%;
  width: 75%;
  text-align:center;
  display:inline-block;
  /* adisplay:inline; */
  float:none;

}
